.header {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  z-index: +2;
  // backdrop-filter: blur(4px);
  @media screen and (min-width: 640px) {
    backdrop-filter: none;
    padding: 40px 32px; /* Page is 16px, but a few extra so it looks okay when we scroll over */
  }
}

.right {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 20px;
}

@keyframes logoBoop {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes logoBoopLight {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.logo {
  box-shadow: var(--main-box-shadow);
  background: var(--color-white);
  border-radius: 100px;
  cursor: pointer;
  margin-top: 0;
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    box-shadow: var(--main-box-shadow-hover);
    animation: logoBoop 0.5s;
  }
  & svg {
    height: 20px;
    width: 20px;
    pointer-events: none;
  }
}

.hireButton {
  box-shadow: var(--main-box-shadow);
  background: var(--color-white);
  font-weight: 600;
  padding: 18px 26px;
  border-radius: 100px;
  margin-top: 0;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: var(--main-box-shadow-hover);
    animation: logoBoopLight 1s;
  }
}

.hideHireButton {
  opacity: 0;
  visibility: hidden;
}

.hamburgerContainer {
  box-shadow: var(--main-box-shadow);
  background: var(--color-white);
  border-radius: 100px;
  cursor: pointer;
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    animation: logoBoopLight 1s;
  }
}

.iconHamburger {
  height: 14px;
  width: auto;
  pointer-events: none;
}
.iconX {
  height: 18px;
  width: 18px;
  width: auto;
  pointer-events: none;
}

.nav {
  background: var(--color-black);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: +1;
  overflow: auto;
}

.navContainer {
  color: var(--color-white);
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80vw;
  max-width: 840px;
  height: 100%;
  margin-top: 120px;
  display: block;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12vw;
  }
}

.navHeading {
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.2rem;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  @media screen and (min-width: 640px) {
    font-size: 1rem;
  }
}

.navList {
  padding: 0;
  margin: 20px 0 0 0;
  @media screen and (min-width: 640px) {
    margin: 30px 0 0 0;
  }
}

.navItem {
  list-style: none;
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.01rem;
  color: var(--color-white);
  margin-bottom: 16px;
  transform: scale(1);
  overflow: hidden;
  display: table;
  @media screen and (min-width: 640px) {
    font-size: 2.5rem;
    margin-bottom: 24px;
  }

  & a {
    display: block;
    padding-bottom: 10px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -2px;
      width: 100%;
      height: 0.1em;
      background: var(--color-white);
      opacity: 0;
      transition: opacity 300ms, transform 300ms;
      opacity: 1;
      transform: translate3d(-100%, 0, 0);
    }
    &:hover::after,
    &:focus::after {
      opacity: 1;
      transform: translate3d(0, 0.2em, 0);
      overflow: hidden;
      transform: translate3d(0, 0, 0);
    }
  }
}

.navRight {
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.footerContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 1140px;
  padding: 0 16px;
}

// animated hamburger
$menuIcon-width: 20px;
$menuIcon-height: 12px;
$menuIcon-color: var(--color-black);

.menuIcon {
  position: relative;
  width: $menuIcon-width;
  height: $menuIcon-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuIcon span {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: $menuIcon-color;
  transition: all 250ms ease-in-out;
  transform: rotate(0deg);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}

.menuIcon span:nth-child(1) {
  top: 0;
}

.menuIcon span:nth-child(2),
.menuIcon span:nth-child(3) {
  top: 6px;
}

.menuIcon span:nth-child(4) {
  top: 12px;
}

.menuIcon.isActive span:nth-child(1),
.menuIcon.isActive span:nth-child(4) {
  opacity: 0;
}

.menuIcon.isActive span:nth-child(2) {
  transform: rotate(45deg);
}

.menuIcon.isActive span:nth-child(3) {
  top: 6px;
  transform: rotate(-45deg);
}
