.search{
  &__form{
    width: 100%;
    height: auto;
    display: flex;
    margin: 0;
    &__button{
      width: 20%;
      background: white;
      border:none;
      svg{
        height: 30px; width: 30px;
      }
      &:focus{
        outline: none;
      }
    }
    &__input{
      padding: 3rem 2rem 3rem 0;
      width: 80%;
      font-family: 'Roboto', sans-serif; font-size: 0.75rem; font-weight: 400; letter-spacing: 0.025rem; text-transform: uppercase;
      color: $navy;
      border: none;
      &::-webkit-input-placeholder{
        color: $navy;
      }
      &:focus{
        outline: none;
      }
    }
  }
  &__popular{
    padding-bottom: 50px; //this makes up for the nav (stops cut off)
    &__heading{
      text-align: left;
      width: 80vw;
      margin: 0 auto 1rem auto;
      font-family: 'Roboto', sans-serif; font-size: 0.75rem; font-weight: 300; font-style: italic; letter-spacing: 0.025rem; text-transform: uppercase;
      color: $light-gray;
      margin: 0 2rem;
    }
    &__container{
      width: calc(100% - 3rem); // -3rem to make up for padding
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 1.5rem; //1.5 to make up for lost padding
      &__item{
        flex: 1 0 calc(50% - 2px - 3rem); //2px for borders, -3rem for (padding and margin)
        border: solid transparentize($light-gray, 0.8) 1px;
        margin: 0.5rem;
        padding: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; //for when text goes 2 lines
        font-family: 'Roboto', sans-serif; font-size: 0.75rem; font-weight: 400; text-transform: uppercase;
        color: $teal;
      }
    }
  }
}
