.navigation{
  height: 50px;
  width: 100%;
  background: white;
  position: fixed;
  bottom: 0;
  z-index: +1;
  &__list{
    margin: 0;
    padding: 0;
    display: flex;
    &__item{
      display: flex;
      flex: 1 0 auto;
      height: 100%;
      align-items: center;
      justify-content: center;
      svg{
        height: 35px; width: 35px;
      }
      &--active{
        svg path{
          fill: $yellow;
          stroke: $yellow;
        }
      }
    }
  }
}
