body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-size: 16px;
  position: relative; }

.g__container {
  max-width: 940px;
  margin: 0 auto; }
.g__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 2rem;
  position: relative;
  text-align: center;
  color: white; }
  .g__heading:after {
    position: absolute;
    bottom: 1rem;
    content: '';
    height: 2px;
    width: 2rem;
    background: white;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .g__heading--green {
    color: #1bb978; }
    .g__heading--green:after {
      background: #1bb978; }

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px; }
  .navigation--light .navigation__nav {
    margin-right: 2rem; }
  .navigation--light .navigation__logo {
    box-shadow: none; }
  .navigation--light .navigation__menu__item {
    color: white; }
    .navigation--light .navigation__menu__item:last-child {
      color: white !important; }
    @media (min-width: 680px) {
      .navigation--light .navigation__menu__item {
        color: #1bb978; }
        .navigation--light .navigation__menu__item:last-child {
          color: #1bb978 !important; } }
    .navigation--light .navigation__menu__item:hover {
      border-bottom: solid 1px #1bb978; }
    .navigation--light .navigation__menu__item:last-child {
      background: transparent;
      transition: 0.2s ease-in background;
      padding: 0.5rem 0;
      color: #1bb978; }
      @media (min-width: 680px) {
        .navigation--light .navigation__menu__item:last-child {
          padding: 0.5rem 1rem;
          border: solid 1px #1bb978;
          border-radius: 10px; }
          .navigation--light .navigation__menu__item:last-child:hover {
            background: rgba(27, 185, 120, 0.1); } }
  .navigation--light .navigation__hamburger path {
    stroke: #1bb978; }
  .navigation__logo {
    height: auto;
    width: 80px;
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 10px 10px; }
    .navigation__logo__image {
      height: auto;
      width: 80px;
      mix-blend-mode: multiply; }
  .navigation__nav {
    display: flex;
    justify-content: center;
    align-items: center; }
  .navigation__hamburger {
    height: 30px;
    width: 30px;
    display: flex; }
    @media (min-width: 680px) {
      .navigation__hamburger {
        display: none; } }
    .navigation__hamburger:hover {
      cursor: pointer; }
  .navigation__x {
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 25px;
    width: 25px;
    z-index: +2;
    display: none; }
    .navigation__x--active {
      display: block; }
      @media (min-width: 680px) {
        .navigation__x--active {
          display: none; } }
    .navigation__x:hover {
      cursor: pointer; }
  .navigation__menu {
    visibility: hidden;
    background: linear-gradient(45deg, #1bb978, #1BB978);
    list-style: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: +1;
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: 0.2s ease-in opacity; }
    .navigation__menu--active {
      opacity: 1;
      visibility: visible;
      display: flex; }
    @media (min-width: 680px) {
      .navigation__menu {
        text-align: left;
        flex-direction: row;
        background: transparent;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
        opacity: 1;
        visibility: visible; } }
    .navigation__menu__item {
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.25px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      padding: 0.5rem 0;
      font-size: 0.75rem;
      border-bottom: solid 1px transparent;
      transition: 0.2s ease-in border-bottom;
      margin: 1rem; }
      @media (min-width: 680px) {
        .navigation__menu__item {
          margin: 0rem 1rem; }
          .navigation__menu__item:hover {
            border-bottom: solid 1px white; } }
      .navigation__menu__item:last-child {
        background: transparent;
        transition: 0.2s ease-in background;
        padding: 0.5rem 0;
        color: white; }
        @media (min-width: 680px) {
          .navigation__menu__item:last-child {
            padding: 0.5rem 1rem;
            border: solid 1px white;
            border-radius: 10px; }
            .navigation__menu__item:last-child:hover {
              background: rgba(255, 255, 255, 0.25); } }
    .navigation__menu a:active, .navigation__menu a:visited, .navigation__menu a:link {
      text-decoration: none; }

.hero {
  width: calc(100% - 4rem);
  min-height: 300px;
  background: linear-gradient(rgba(27, 185, 120, 0.85), rgba(27, 185, 120, 0.85)), url("../../img/landing/hero.jpg") no-repeat;
  background-size: cover;
  background-position: center 15%;
  padding: 0 2rem;
  position: relative; }
  .hero__heading, .hero__heading2 {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    position: relative; }
  .hero__heading {
    margin: 4rem 0 5rem 0;
    font-weight: 700;
    max-width: 300px;
    font-size: 1.5rem; }
    .hero__heading:after {
      position: absolute;
      bottom: -1rem;
      left: 0;
      content: '';
      height: 4px;
      width: 2rem;
      background: white; }
  .hero__heading2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 2rem 0 0 0;
    padding-bottom: 0; }
  .hero__form {
    max-width: 940px;
    background: white;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    position: relative;
    top: 30px;
    flex-wrap: wrap; }
    @media (min-width: 680px) {
      .hero__form {
        flex-wrap: nowrap; } }
    .hero__form__input {
      font-family: "Montserrat", sans-serif;
      height: 60px;
      font-size: 0.75rem;
      letter-spacing: 1px;
      border: none;
      border-bottom: solid 1px rgba(171, 171, 171, 0.5);
      color: #ababab;
      -webkit-appearance: none;
      border-radius: 0;
      text-indent: 2rem;
      width: 100%; }
      .hero__form__input:nth-child(4) {
        border-bottom: none; }
      .hero__form__input:focus {
        outline: none; }
      .hero__form__input:nth-child(1) {
        border-radius: 10px 10px 0 0; }
      @media (min-width: 680px) {
        .hero__form__input {
          border-right: solid 1px rgba(171, 171, 171, 0.5);
          border-bottom: none; }
          .hero__form__input:nth-child(1) {
            width: 30%;
            border-radius: 10px 0 0 10px; }
          .hero__form__input:nth-child(2) {
            width: 20%; }
          .hero__form__input:nth-child(3) {
            width: 15%; }
          .hero__form__input:nth-child(4) {
            width: 15%;
            border-right: none; } }
      .hero__form__input::-webkit-input-placeholder {
        color: #ababab; }
      .hero__form__input::-moz-placeholder {
        color: #ababab; }
      .hero__form__input:-ms-input-placeholder {
        color: #ababab; }
    .hero__form__submit {
      background: #fa755a;
      font-family: "Montserrat", sans-serif;
      font-size: 0.85rem;
      letter-spacing: 1px;
      color: white;
      border-radius: 0 0 10px 10px;
      border: none;
      outline: none;
      height: 60px;
      -webkit-appearance: none;
      width: 100%;
      transition: 0.2s ease-in background; }
      @media (min-width: 680px) {
        .hero__form__submit {
          width: 20%;
          border-radius: 0 10px 10px 0; } }
      .hero__form__submit:hover {
        cursor: pointer;
        background: #f96041; }

.landing {
  position: relative;
  padding: 2rem;
  top: 30px;
  height: auto;
  width: calc(100% - 4rem); }
  .landing__copy {
    max-width: 450px;
    color: #ababab;
    font-family: "Rubik", sans-serif;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.25px;
    font-size: 1rem;
    line-height: 1.5rem; }
  .landing__services {
    margin: 2rem 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap; }
    .landing__services__item {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(50% - 8rem); }
      @media (min-width: 680px) {
        .landing__services__item {
          width: auto; } }
      .landing__services__item__icon {
        height: 50px;
        width: 50px;
        text-align: center; }
      .landing__services__item__copy {
        font-family: "Rubik", sans-serif;
        color: #ababab;
        font-size: 0.75rem; }

.page {
  position: relative; }
  .page__services {
    background: linear-gradient(rgba(27, 185, 120, 0.85), rgba(27, 185, 120, 0.85)), url("../../img/services/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center 15%;
    padding: 1rem 2rem; }
    .page__services__heading {
      margin-bottom: 0; }
    .page__services__desc {
      color: white;
      font-family: "Rubik", sans-serif;
      text-align: center;
      margin: 0 auto;
      letter-spacing: 0.25px;
      font-size: 1rem;
      line-height: 1.5rem; }
  .page__wrapper {
    position: relative;
    min-width: 100%;
    overflow-x: hidden;
    transform: translateZ(0);
    transition: transform 0.5s ease-in; }
  .page__plan {
    display: flex;
    flex-flow: row;
    padding: 2rem 0; }
    .page__plan__item {
      flex: none;
      display: block;
      position: relative;
      width: calc(100% - 4rem);
      padding: 2rem; }
      @media (min-width: 680px) {
        .page__plan__item {
          width: calc(50% - 4rem); } }
      .page__plan__item__number {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        color: white; }
      .page__plan__item__heading {
        font-family: "Rubik", sans-serif;
        font-size: 1rem;
        color: white;
        font-weight: 700; }
      .page__plan__item__copy {
        font-family: "Rubik", sans-serif;
        font-size: 0.9rem;
        color: white;
        font-weight: 400;
        line-height: 1.25rem; }
  .page__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: #f3f6fa;
    height: 2rem;
    width: 2rem;
    transition: 0.2s ease-in background; }
    .page__button:hover {
      cursor: pointer;
      background: #e1e9f3; }
    .page__button svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 1rem;
      width: 1rem; }
    .page__button--left {
      left: 0;
      display: none; }
      .page__button--left svg {
        transform: translateY(-50%) rotate(180deg); }
  .page__cta {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -25px;
    background: #fa755a;
    font-family: "Montserrat", sans-serif;
    font-size: 0.85rem;
    letter-spacing: 1px;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 1.25rem 1rem;
    text-align: center;
    width: 180px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    -webkit-appearance: none;
    transition: 0.2s ease-in background;
    text-decoration: none; }
    .page__cta:hover {
      cursor: pointer;
      background: #f96041; }
  .page__box-container {
    display: flex;
    flex-wrap: wrap; }
  .page__box {
    padding: 2rem;
    width: calc(100% - 4rem); }
    @media (min-width: 680px) {
      .page__box {
        width: calc(50% - 4rem); } }
    .page__box__heading {
      font-family: "Rubik", sans-serif;
      font-size: 1rem;
      color: #5c5c5c;
      font-weight: 700; }
    .page__box__copy {
      font-family: "Rubik", sans-serif;
      font-size: 0.9rem;
      color: #ababab;
      font-weight: 400;
      line-height: 1.25rem; }
  .page__about {
    display: flex;
    flex-wrap: wrap; }
    .page__about__box {
      padding: 0rem;
      width: 100%; }
      .page__about__box:last-child {
        margin-bottom: 4rem; }
      @media (min-width: 680px) {
        .page__about__box {
          padding: 2rem;
          width: calc(50% - 4rem); } }
      .page__about__box__copy {
        color: white;
        font-family: "Rubik", sans-serif;
        font-size: 1rem;
        line-height: 1.25rem; }
      .page__about__box__caption {
        color: white; }
      .page__about__box__image {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }

.footer {
  background: #f3f6fa;
  padding: 2rem; }
  .footer__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .footer__box {
    width: 100%; }
    @media (min-width: 768px) {
      .footer__box {
        width: 50%; } }
    .footer__box--logo {
      margin-bottom: 2rem;
      text-align: center; }
      @media (min-width: 768px) {
        .footer__box--logo {
          margin-bottom: 0;
          text-align: left; } }
  .footer__logo {
    height: 57.4875px;
    width: 200.475px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .footer__logo {
        margin: 0; } }
    .footer__logo__image {
      height: auto;
      width: 100px;
      mix-blend-mode: multiply; }
  .footer__info {
    display: flex;
    flex-direction: column;
    margin-top: 2rem; }
    @media (min-width: 768px) {
      .footer__info {
        margin-top: 0; } }
    .footer__info__social {
      padding: 0;
      display: flex;
      justify-content: center; }
      @media (min-width: 768px) {
        .footer__info__social {
          justify-content: flex-end;
          margin-bottom: 2rem; } }
      .footer__info__social__icon {
        list-style: none;
        margin: 0 1rem; }
        @media (min-width: 768px) {
          .footer__info__social__icon:last-child {
            margin: 0 0 0 1rem; } }
        .footer__info__social__icon svg {
          height: 50px;
          width: 50px; }
    .footer__info__address {
      font-family: 'Roboto', sans-serif;
      font-size: 0.9rem;
      font-weight: 400;
      font-style: italic;
      color: #788a99;
      text-align: center;
      margin-top: 2rem; }
      @media (min-width: 768px) {
        .footer__info__address {
          text-align: right;
          margin-top: 0; } }

/*# sourceMappingURL=styles.css.map */
