.map{
  position: absolute;
  bottom: 50px;
  left: 0; right: 0; margin: 0 auto;
  &__mobile-search{
    background: $orange;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: absolute;
    box-shadow: 0 0 15px $shadow;
    bottom: 0rem;
    right: 1rem;
    transition: background 0.2s ease-in;
    display: none;
    @include breakpoint('desktop'){
      display: none;
    }
    &:hover{
      cursor: pointer;
      background: darken($orange, 5%);
    }
    svg{
      height:35px;
      width:35px;
      position: absolute;
      left: 0; right: 0; margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

#map {
  height: 100%;
}
