body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-size: 16px; }

.g__container {
  position: relative;
  width: calc(100% - 4rem);
  max-width: 940px;
  margin: 0 auto;
  padding: 2rem; }
.g__flex {
  display: flex; }
  .g__flex--full {
    width: 100%; }
  .g__flex--half {
    width: 50%; }
.g__section-heading {
  color: #283845;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  position: relative;
  margin-bottom: 6rem; }
  .g__section-heading:after {
    position: absolute;
    bottom: -2.5rem;
    display: block;
    content: '';
    width: 100px;
    height: 0.25rem;
    background: #283845; }
.g__button {
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out; }
  .g__button:hover {
    cursor: pointer; }
  .g__button--white {
    background: transparent;
    border: solid 1px #ff915e;
    color: #ff915e; }
    .g__button--white:hover {
      background: #ff915e;
      color: white; }
  .g__button--white-white {
    background: transparent;
    border: solid 1px white;
    color: white; }
    .g__button--white-white:hover {
      border: solid 1px transparent;
      background: #283845;
      color: white; }
  .g__button--orange {
    background: #ff915e;
    color: white;
    border: solid 1px transparent; }
    .g__button--orange:hover {
      background: #ff6e2b;
      color: white; }

.nav__container {
  display: block;
  width: 100%;
  margin: 0 0 7rem 0; }
.nav__logo {
  height: 45.99px;
  width: 160.38px;
  float: left; }
.nav__hamburger {
  margin-top: 8px;
  height: 25px;
  width: 25px;
  float: right;
  display: block; }
  .nav__hamburger path {
    transition: all 0.2s ease-in;
    stroke: white; }
  .nav__hamburger:hover {
    cursor: pointer; }
    .nav__hamburger:hover path {
      stroke: #18969d; }
  @media (min-width: 768px) {
    .nav__hamburger {
      display: none; } }
.nav__list {
  padding: 0;
  float: right;
  display: none;
  font-size: 0.9rem; }
  @media (min-width: 768px) {
    .nav__list {
      display: block; } }
  .nav__list__item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    list-style: none;
    color: white;
    letter-spacing: 0.025rem;
    display: inline;
    margin: 0 1rem; }
    .nav__list__item__link {
      transition: all 0.2s ease-in;
      padding: 0 0 0rem 0; }
      .nav__list__item__link:link, .nav__list__item__link:active, .nav__list__item__link:visited {
        color: white;
        text-decoration: none;
        border-top: solid 1px transparent; }
      .nav__list__item__link:hover {
        cursor: pointer;
        color: #18969d;
        text-decoration: none;
        padding: 0.75rem 0 0rem 0;
        border-top: solid 2px #18969d; }

.hero__background {
  z-index: -1;
  position: absolute;
  min-height: 600px;
  width: 100%;
  background: url("../img/hero-background.jpg") no-repeat;
  background-size: cover;
  background-position: top 50%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%); }
  @media (min-width: 768px) {
    .hero__background {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%); } }
  .hero__background:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom right, #1fc0c9, #2bfbcb);
    opacity: 0.9; }
.hero__heading {
  clear: both;
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem; }
.hero__copy {
  display: block;
  max-width: 450px;
  margin: 0 auto;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: 'Roboto Mono', monospace;
  color: white;
  text-align: center; }

.signup {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  min-height: 400px;
  margin: 0 auto;
  width: 100%; }
  .signup__heading {
    padding: 3rem 2rem 0 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #283845;
    font-size: 1rem; }
  .signup__container {
    padding: 1rem 2rem 1rem 2rem; }
  .signup__checkbox {
    display: flex;
    flex-wrap: wrap; }
    .signup__checkbox__button {
      width: calc(100% - 2rem);
      padding: 1rem; }
      @media (min-width: 540px) {
        .signup__checkbox__button {
          width: calc(50% - 2rem); } }
      @media (min-width: 1024px) {
        .signup__checkbox__button {
          width: calc((100% /3) - 2rem); } }
      .signup__checkbox__button input[type=checkbox] {
        display: none; }
        .signup__checkbox__button input[type=checkbox]:checked + label span {
          background: #788a99;
          box-shadow: inset 0 0 0 5px white; }
      .signup__checkbox__button label {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #788a99;
        display: block;
        line-height: 2rem;
        font-size: 0.9rem; }
        .signup__checkbox__button label span {
          display: block;
          background: transparent;
          border: solid 2px #788a99;
          width: 2rem;
          height: 2rem;
          cursor: pointer;
          border-radius: 50%;
          margin: 0 1rem 0 0;
          float: left;
          transition: all 0.3s ease-in-out; }
        .signup__checkbox__button label:hover {
          cursor: pointer; }
  .signup__button-container {
    justify-content: flex-end;
    padding: 1rem 2rem 0 0; }
  .signup__progress-bar {
    width: 34%;
    height: 7px;
    border-radius: 0px 7px 7px 7px;
    background: linear-gradient(to left, #1fc0c9, #2bfbcb); }

.services {
  padding: 4rem 0;
  background: linear-gradient(to bottom right, #1fc0c9, #2bfbcb); }
  .services__background {
    position: absolute;
    margin-top: -4.1rem;
    min-height: 600px;
    width: 100%;
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%); }
  .services__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .services__box {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin: 2rem 0; }
    @media (min-width: 768px) {
      .services__box {
        margin: 3rem 0;
        width: calc(50% - 2rem); } }
    .services__box__photo {
      width: 100%;
      height: 200px;
      border-radius: 5px 5px 0px 0px; }
    .services__box__info {
      padding: 2rem;
      background: white;
      border-radius: 0px 0px 5px 5px; }
      .services__box__info__heading {
        color: #283845;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        position: relative;
        margin-bottom: 2.5rem; }
        .services__box__info__heading:after {
          position: absolute;
          bottom: -1rem;
          display: block;
          content: '';
          width: 50px;
          height: 2px;
          background: #283845; }
      .services__box__info__list {
        padding: 0; }
        .services__box__info__list__item {
          list-style: none;
          display: block;
          font-family: 'Roboto Mono', monospace;
          font-weight: 400;
          color: #283845;
          font-size: 0.8rem;
          line-height: 2rem; }
  .services__button-container {
    justify-content: flex-end; }
    .services__button-container__margin {
      margin-right: 1rem; }

.pricing {
  padding: 4rem 0; }
  .pricing__copy {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: #283845;
    max-width: 700px;
    font-size: 0.9rem;
    line-height: 2rem; }
  .pricing__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .pricing__box {
    border: solid 1px #283845;
    text-align: center;
    padding: 4rem;
    margin: 1px 0;
    width: calc(100% ); }
    .pricing__box:first-child {
      margin-top: 2rem; }
    @media (min-width: 768px) {
      .pricing__box {
        width: calc((100% / 3) - 8rem - 3px - 2px);
        margin: 2rem 1px; } }
    .pricing__box--dark {
      background: #283845;
      color: white; }
    .pricing__box--light {
      background: transparent;
      color: #283845; }
    .pricing__box__price {
      font-size: 2rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      margin-bottom: 1rem; }
      .pricing__box__price span {
        font-size: 1.5rem;
        font-weight: 400; }
    .pricing__box__type {
      font-family: 'Roboto Mono', monospace;
      font-weight: 400;
      margin: 0; }
    .pricing__box__people {
      font-family: 'Roboto Mono', monospace;
      font-weight: 300;
      font-style: italic;
      margin: 0; }

.expectations {
  padding: 4rem 0;
  background: #f1f1f1; }
  .expectations__copy {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #283845;
    max-width: 700px;
    font-size: 0.9rem;
    line-height: 2rem;
    margin: 2rem 0; }

.footer {
  padding: 3rem 0 1rem 0; }
  @media (min-width: 768px) {
    .footer {
      padding: 5rem 0; } }
  .footer__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .footer__box {
    width: 100%;
    text-align: center; }
    @media (min-width: 768px) {
      .footer__box {
        width: 50%; } }
    .footer__box--logo {
      margin-bottom: 2rem; }
      @media (min-width: 768px) {
        .footer__box--logo {
          margin-bottom: 0; } }
  .footer__logo {
    height: 57.4875px;
    width: 200.475px; }
  .footer__info {
    display: flex;
    flex-direction: column; }
    .footer__info__social {
      padding: 0;
      display: flex;
      justify-content: center; }
      @media (min-width: 768px) {
        .footer__info__social {
          justify-content: flex-end; } }
      .footer__info__social__icon {
        list-style: none;
        margin: 0 1rem; }
        .footer__info__social__icon svg {
          height: 50px;
          width: 50px; }
    .footer__info__address {
      font-family: 'Roboto Mono', monospace;
      font-size: 0.9rem;
      font-weight: 500;
      font-style: italic;
      color: #a1a1a1;
      text-align: center; }
      @media (min-width: 768px) {
        .footer__info__address {
          text-align: right; } }

/*# sourceMappingURL=styles.css.map */
