.footer {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px 40px 20px;
  color: var(--color-black-50);
  font-size: 0.9rem;
  @media screen and (min-width: 640px) {
    font-size: 1rem;
  }
}

.icon {
  & svg {
    height: 22px;
    width: auto;
    path {
      transition: all 0.3s ease;

      fill: #808080; /* Same as black 50, but SVG transparency was weird */
    }
  }
  &:hover {
    & svg {
      path {
        fill: var(--color-black);
      }
    }
  }
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
