// ----- Base ----- //
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$green: rgba(27, 185, 120, 1);
$transparent-green: rgba(27, 185, 120, 0.85);
$lime-green: rgba(147,201,82, 1);
$orange: rgba(250, 117, 90, 1);

// ----- Text ----- //
$blue-text: rgba(40,56,69,1);
$blue-dull: rgba(120, 138, 153, 1);

// ----- Grays ----- //
$gray-light: rgba(243,246,250,1);
$gray-medium: rgba(171,171,171,1);
$gray-dark: rgba(92,92,92,1);
$shadow: rgba(0,0,0,0.3);
