html,body{
  margin: 0;
  height: 100%;
  font-size: 16px;
  position: relative;
}

// Global Vars
$radius: 10px;

// Global Styles
.g{
  &__container{
    max-width: 940px;
    margin: 0 auto;
    &--map{
      background: $white;
      max-width: none;
      width: 100%;
      position: absolute;
      top: 0;
    }
  }
  &__heading{
    font-family: $montserrat;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    position: relative;
    text-align: center;
    color: $white;
    &:after{
      position: absolute;
      bottom: 1rem;
      content: '';
      height: 2px;
      width: 2rem;
      background: $white;
      left: 0; right: 0; margin: 0 auto;
    }
    &--green{
      color: $green;
      &:after{
        background: $green;
      }
    }
  }
}
