.navigation{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  &--light{
    .navigation__nav{
      margin-right: 2rem;
    }
    .navigation__logo{
      box-shadow: none;
    }
    .navigation__menu__item{
      color: $white;
      &:last-child{
        color: $white !important;
      }
      @include breakpoint('phone'){
        color: $green;
        &:last-child{
          color: $green !important;
        }
      }
      &:hover{
        border-bottom: solid 1px $green;
      }
      &:last-child{
        background: transparent;
        transition: 0.2s ease-in background;
        padding: 0.5rem 0;
        color: $green;
        @include breakpoint('phone'){
          padding: 0.5rem 1rem;
          border: solid 1px $green;
          border-radius: $radius;
          &:hover{
            background: transparentize($green, 0.9);
          }
        }
      }
    }
    .navigation__hamburger path{
      stroke: $green;
    }
  }
  &__logo{
    height: auto;
    width: 90px;
    background: transparentize($white,0.1);
    padding: 1rem;
    box-shadow: 1px 1px 15px $shadow;
    border-radius: 0px 0px $radius $radius;
    &__image{
      height: auto;
      width: 90px;
      mix-blend-mode: multiply;
    }
  }
  &__nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__hamburger{
    height: 30px;
    width: 30px;
    display: flex;
    @include breakpoint('phone'){
      display: none;
    }
    &:hover{
      cursor: pointer;
    }
  }
  &__x{
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 25px;
    width: 25px;
    z-index: +2;
    display: none;
    &--active{
      display: block;
      @include breakpoint('phone'){
        display: none;
      }
    }
    &:hover{
      cursor: pointer;
    }
  }
  &__menu{
    visibility: hidden;
    background: linear-gradient(45deg, $green, #1BB978);
    list-style: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0; top: 0;
    z-index: +1;
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: 0.2s ease-in opacity;
    &--active{
      opacity: 1;
      visibility: visible;
      display: flex;
    }
    @include breakpoint('phone'){
      text-align: left;
      flex-direction: row;
      background: transparent;
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      width: auto;
      opacity: 1;
      visibility: visible;
    }
    &__item{
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.25px;
      font-family: $montserrat;
      font-weight: 700;
      padding: 0.5rem 0;
      font-size: 0.75rem;
      border-bottom: solid 1px transparent;
      transition: 0.2s ease-in border-bottom;
      margin: 1rem;
      @include breakpoint('phone'){
        margin: 0rem 1rem;
        &:hover{
          border-bottom: solid 1px $white;
        }
      }
      &:last-child{
        background: transparent;
        transition: 0.2s ease-in background;
        padding: 0.5rem 0;
        color: $white;
        @include breakpoint('phone'){
          padding: 0.5rem 1rem;
          border: solid 1px $white;
          border-radius: $radius;
          &:hover{
            background: transparentize($white, 0.75);
          }
        }
      }
    }
    a{
      &:active, &:visited, &:link{
        text-decoration: none;
      }
    }
  }
}
