.page{
  position: relative;
  &__services{
    background: linear-gradient($transparent-green, $transparent-green), url('../../img/services/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center 15%;
    padding: 1rem 2rem;
    &__heading{
      margin-bottom: 0;
    }
    &__desc{
      color: $white;
      font-family: $rubik;
      text-align: center;
      margin: 0 auto;
      letter-spacing: 0.25px;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  &__wrapper{
    position: relative;
    min-width: 100%;
    overflow-x: hidden;
    transform: translateZ(0);
    transition: transform 0.5s ease-in;
  }
  &__plan{
    display: flex;
    flex-flow: row;
    padding: 2rem 0;
    &__item{
      flex: none;
      display: block;
      position: relative;
      width: calc(100% - 4rem);
      padding: 2rem;
      @include breakpoint('phone'){
        width: calc(50% - 4rem);
      }
      &__number{
        font-family: $montserrat;
        font-size: 4rem;
        color: $white;
      }
      &__heading{
        font-family: $rubik;
        font-size: 1rem;
        color: $white;
        font-weight: 700;
      }
      &__copy{
        font-family: $rubik;
        font-size: 0.9rem;
        color: $white;
        font-weight: 400;
        line-height: 1.25rem;
      }
    }
  }
  &__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:0;
    background: $gray-light;
    height: 2rem;
    width: 2rem;
    transition: 0.2s ease-in background;
    &:hover{
      cursor: pointer;
      background: darken($gray-light, 5%);
    }
    svg{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0; right: 0;
      margin: 0 auto;
      height: 1rem;
      width: 1rem;
    }
    &--left{
      left: 0;
      display: none;
      svg{
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  &__cta{
    position: absolute;
    margin: 0 auto;
    left: 0; right: 0;
    bottom: -25px;
    background: $orange;
    font-family: $montserrat;
    font-size: 0.85rem;
    letter-spacing: 1px;
    color: $white;
    border-radius: $radius;
    border: none;
    outline: none;
    padding: 1.25rem 1rem;
    text-align: center;
    width: 180px;
    box-shadow: 0 0 15px $shadow;
    -webkit-appearance: none; //ios override
    transition: 0.2s ease-in background;
    text-decoration: none;
    &:hover{
      cursor: pointer;
      background: darken($orange, 5%);
    }
  }
  &__box-container{
    display: flex;
    flex-wrap: wrap;
  }
  &__box{
    padding: 2rem;
    width: calc(100% - 4rem);
    @include breakpoint('phone'){
      width: calc(50% - 4rem);
    }
    &__heading{
      font-family: $rubik;
      font-size: 1rem;
      color: $gray-dark;
      font-weight: 700;
    }
    &__copy{
      font-family: $rubik;
      font-size: 0.9rem;
      color: $gray-medium;
      font-weight: 400;
      line-height: 1.25rem;
    }
  }
  &__about{
    display: flex;
    flex-wrap: wrap;
    &__box{
      padding: 0rem;
      width: 100%;
      &:last-child{
        margin-bottom: 4rem;
      }
      @include breakpoint('phone'){
        padding: 2rem;
        width: calc(50% - 4rem);
      }
      &__copy{
        color: $white;
        font-family: $rubik;
        font-size: 1rem;
        line-height: 1.25rem;
      }
      &__caption{
        color: $white;
      }
      &__image{
        width: 100%;
        height: auto;
        border-radius: $radius;
        box-shadow: 0 0 15px $shadow;
      }
    }
  }
}
