// grays
$white : #FFFFFF;
$alabaster: #F7F7EB;
$dark-gray: #3A3E41;
$light-gray: #E6E7E8;
$lighest-gray: #F1F2F2;
$black: #000000;


// oranges
$orange: #F15B2E;

// other
$lime: #ECE94A;
$blue: #23BCBA;
