// fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600italic,600);

// vars
$text-color: #014357;
$glad: #00A288;
$sad: #FAF39F;
$mad: #F1623D;

// different states the cards
.glad{ background: $glad; }
.sad{ background: $sad; }
.mad{ background: $mad; }

// card styles
body{
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
.container{
  height: 100%;
  max-height:400px;
  width:100%;
  position: relative;
  margin: 0 auto;
  overflow:hidden;
  .card{
    height:85%;
    width: 80%;
    max-width: 500px;
    position:absolute;
    top: 20px;
    p{
      text-align: center;
      text-transform: uppercase;
      font-size:1.2em;
      letter-spacing: 2px;
      color: $text-color;
      position: relative;
      margin: 0 auto 20px auto;
    }
    textarea{
      height:98%;
      width:100%;
      background: rgba(255,255,255,0.8);
      font-size: 1.0em;
      color: $text-color;
      letter-spacing: 1px;
      border-radius: 5px;
      padding: 5%;
      border:none;
      outline:none;
      box-shadow:none;
      resize:none;
    }
    //first and third children are pushed off the edge, second is always centered
    &:first-child{
      left:-80%;
    }
    &:nth-child(2){
      left:0; right:0; margin: 0 auto;
    }
    &:nth-child(3){
      right:-80%;
    }
  }
}
.info-container{
  h2{
    text-align: center;
    text-transform: uppercase;
    color: $text-color;
    letter-spacing: 5px;
  }
  .how-to-button{
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    p{
      margin: 0 auto;
      color: darken($glad, 10%);
      text-align: center;
      padding: 8px;
    }
  }
}
.how-to-box{
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background: darken($glad, 10%);
  h2{
    color: rgba(255,255,255,0.8);
    padding: 20px;
  }
  p{
    color: rgba(255,255,255,0.8);
    padding: 0px 20px;
    font-weight: 300;
    line-height: 1.8em;
  }
  .how-to-close{
    position: absolute;
    bottom: 20px;
    color: rgba(255,255,255,0.2);
    text-align: center;
    left:0; right:0;
    font-size: 2em;
    font-weight: 300;
  }

}
