@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');

$yellow: #FFE100;
$navy: #211F39;
$blue: #4542F1;
$cabin: 'Cabin', sans-serif;
$desktop: 1025px;
$phone: 681px;
$tablet: 769px;

body, html{
  font-family: $cabin;
  margin: 0 auto;
  font-size: 16px;
  overflow-x: hidden !important;
  font-weight: 500;
}

.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

// todo, redo this...
@mixin breakpoint($width){
  @if ($width == desktop){
    @media screen and (min-width: $desktop){
      @content
    }
  }
  @if ($width == phone){
    @media screen and (min-width: $phone){
      @content
    }
  }
  @if ($width == tablet){
    @media screen and (min-width: $tablet){
      @content
    }
  }
}
