.projectContainer {
  display: grid;
  grid-gap: 20px;
  padding: 16px;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  grid-template-columns: 1fr;
  margin-top: 80px; // height of top nav
  @media screen and (min-width: 640px) {
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
    margin-top: 120px; // height of top nav
  }
}

.project {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: var(--main-box-shadow);
  transition: all 0.3s ease;
  &:hover {
    box-shadow: var(--main-box-shadow-hover);
    .projectImage {
      bottom: -18%;
      transform: scale(1.05);
    }
    .projectName {
      @media screen and (min-width: 768px) {
        transform: translateY(-40%);
      }
    }
  }
  &::before {
    content: "";
    display: block;
    padding-top: 85%; /* Not quite a perfect square */
  }
}

.projectContent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.projectName {
  font-family: var(--font-poppins);
  font-weight: 700;
  letter-spacing: -0.02rem;
  color: var(--color-white);
  transform: scale(1);
  transform-origin: center;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-top: 20%;
  @media screen and (min-width: 768px) {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
.projectImage {
  width: auto;
  position: absolute;
  bottom: -25%;
  transition: all 0.3s ease;
  transform: scale(1);
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 75%;
}
